ASYNC_DATABASE_URL=mysql+aiomysql://root:your_mysql_password@mysql:3306/toutiao?charset=utf8mb4

MYSQL_ROOT_PASSWORD=your_mysql_password
MYSQL_DATABASE=toutiao

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=your_secret_key